<ion-header>
  <ion-navbar>
    <ion-title>
      PasaPalabra 
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-pasapalabra">

    <section class="game">
        <div class="circle-container">
          <div class="title-container">
            <p class="title">PASAPALABRA</p>
          </div>
            <ul id='lst' class="circle">
                <li class="item">A</li>
                <li class="item">B</li>
                <li class="item">C</li>
                <li class="item">D</li>
                <li class="item">E</li>
                <li class="item">F</li>
                <li class="item">G</li>
                <li class="item">H</li>
                <li class="item">I</li>
                <li class="item">J</li>
                <li class="item">L</li>
                <li class="item">M</li>
                <li class="item">N</li>
                <li class="item">Ñ</li>
                <li class="item">O</li>
                <li class="item">P</li>
                <li class="item">Q</li>
                <li class="item">R</li>
                <li class="item">S</li>
                <li class="item">T</li>
                <li class="item">U</li>
                <li class="item">V</li>
                <li class="item">X</li>
                <li class="item">Y</li>
                <li class="item">Z</li>
            </ul>
          <ul class="scoreboard">
            <li id="js--timer" class="timer" href="">{{seconds}}</li>
            <li id="js--score" class="score" href="">{{score}}</li>
          </ul>

        </div>
        <div class="controls-container">
          <i id="js--close" class="icon-close" [class]="ngCloseHideClass[0]" click="closeGame()"></i>

          <div id="js--ng-controls" class="ng-controls" [class]="ngControlsHideClass[0]">
            <h4>Bienvenidos al juego de Pasapalabra</h4>
            <p>las normas son muy sencillas:</p>
            <p>Se mostraran unas definiciones por pantalla y el usuario deberá responder con la palabra a la que corresponden. El usuario tiene la opción de decir Pasapalabra y dejar esa definición para mas adelante.</p>
            <p>El programa es sensible a las acentuación, asi que se debe introducir la palabra sin tilde.</p>
            <a id="js--new-game" class="btn" (click)="newGame()"><i class="icon-play"></i>Jugar</a>
          </div>

          <div id="js--question-controls" class="question-controls" [class]="ngQuestionControlsHide[0]" >
            <span id="js--hint" class="hint">{{ hint }}</span>
            <p id="js--definition" class="definition"> {{ definition }} </p>
            <input id="js--user-answer" type="text" maxlength="20" placeholder="Introduce tu respuesta" [(ngModel)]="userAnswer" (keypress)="onKeyPressed($event)"> 
            <a id="js--send" class="btn btn--green" href="#" (click)="send()">Enviar</a>
            <a id="js--pasapalabra" class="btn" href="#" (click)="pasalapalabra()">Pasapalabra e</a>
          </div>

          <div id="js--pa-controls" class="pa-controls" [class]="ngPaControlsHideClass[0]">
            <p id="js--end-title" class="title">{{title}}</p>
            <p id="js--end-subtitle" class="subtitle">{{endSubs}}</p>
            <a id="js--pa" class="btn" href="" click="loadGame()"><i class="icon-loop"></i>Jugar de nuevo</a>
          </div>
        </div>


      </section>

</ion-content>
